<!DOCTYPE html>
<html lang="es">

<head>
    <title>Craftsy | Error</title>
    <link rel="stylesheet" href="/stylesheets/error.css">
</head>

<body class="error">
    <section>
        <h1>
            <%= message %>
        </h1>
        <h2>
            <%= error.status %>
        </h2>
        <img src="https://http.cat/[status_code] " alt="">
        <pre class="error-pre"> <%= error.stack %></pre>
    </section>
</body>
